h3 {
    color: navy;
    margin-left: 20px;
}

table {
    font-size: 10px;
    font-family: Verdana;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #00cfcf;
}

.trackrow {
    background-color: #cfffff;
}

.trackrow:hover {
    background-color: #7fffff;
}