h3 {
    color: navy;
    margin-left: 20px;
}

.omni_main {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

button {
    background-color: #007f00;
    border: 2px solid #efffef;
    border-radius: 4px;
    color: #efffef;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;   
}

button:hover {
    background-color: #009f00;
}

button.sort_button {
    font-size: 14px;
}

button.remove {
    background-color: #7f0000;
    color: #ffefef;
}

button.remove:hover {
    background-color: #9f0000;
}

table {
    font-size: 10px;
    font-family: Verdana;
    font-weight: 600;
    border-collapse: collapse;
    width: 100%;
}

table.search_results_table {
    width: 100%;
}

th, td {
    border-bottom: 1px solid #00cf00;
    padding: 2px 5px;
}

th { 
    background-color: #bfefbf;
}

th.column_uid {
    display: none;
}

td.uid {
    font-family: Courier;
    font-weight: 300;
    display: none;
}

td.title {
    font-style: italic;
    width: 30%;
}

td.artist {
    width: 20%;
}

td.album {
    font-style: italic;
    width: 25%;
}

td.duration {
    width: 10%;
}

td.release_date {
    width: 10%;
}

td.actions {
    width: 5%;
}

.trackrow {
    background-color: #efffef;
    color: #003f00;
}

.trackrow:hover {
    background-color: #9fef9f;
}

.searchrow {
    background-color: #ffffff;
    color: #7f7f7f;
}

.searchrow:hover {
    background-color: #dfdfdf;
}

input.date {
    width: 80px;
    background-color: #efffef;
}
