<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/omni.css"></link>
  <script src="static/js/external/lodash.js"></script>
  <script src="static/js/external/jquery-2.2.1.min.js"></script>
  <script src="static/js/track_table.js"></script>
  <script src="static/js/omni.js"></script>
</head>

<body>
  <div class="omni_main">
    <a href="/">index</a>
    <h3><div id="view">{{ view }}</div></h3>
    <button id="get_track_ids">Get Track Ids</button>
    Slice: <input type="text" id="track_sample_time"></input><br/>
    <button class="save_view">Save</button><br/>
    <input type="text" id="track_search_input"></input>
    <button class="track_search">Search</button>
    <input type="text" id="playlist_input"></input>
    <button class="injest_playlist">Add Tracks</button>
  
    <div class="track_meta"></div>

    <div id="search_results">
    </div>

    <div class="data_main">
    </div>
  </div>
      
</body>

</html>