<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/omni.css"></link>
  <script src="static/js/external/lodash.js"></script>
  <script src="static/js/external/jquery-2.2.1.min.js"></script>
  <script src="static/js/track_table.js"></script>
  <script src="static/js/omni.js"></script>
</head>

<body>
  <div class="omni_main">
    <a href="/">index</a>
    <h3><div id="view">{{ view }}</div></h3>
    <button id="get_track_ids">Get Track Ids</button>
    <select id="track_ordering">
      <option value="shown">Order As Shown</option>
      <option value="random">Random Order</option>
      <option value="smart">Smart Shuffle</option>
    </select>
    Slice: <input type="text" id="track_sample_time"></input><br/>
    <button class="save_view">Save</button><br/>
    <input type="text" id="track_search_input"></input>
    <button class="track_search">Search</button>
    <input type="text" id="playlist_input"></input>
    <button class="injest_playlist">Add Tracks</button>
    <div id="column_selection">
      <input type="checkbox" value="uid">spotify_uid
      <input type="checkbox" value="title" checked>title
      <input type="checkbox" value="artist"checked>artist
      <input type="checkbox" value="album" checked>album
      <input type="checkbox" value="duration" checked>duration
      <input type="checkbox" value="release_date" checked>release_date
      <input type="checkbox" value="popularity">popularity
      <input type="checkbox" value="original_release">original_release
      <input type="checkbox" value="added">added
      <input type="checkbox" value="modified">modified
      <button class="filter_columns">Filter</button>
    </div>
  
    <div class="track_meta"></div>

    <div id="search_results">
    </div>

    <div class="data_main">
    </div>
  </div>
      
</body>

</html>