<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/omni.css"></link>
  <script src="static/js/external/lodash.js"></script>
  <script src="static/js/external/jquery-2.2.1.min.js"></script>
  <script src="static/js/track_table.js"></script>
  <script src="static/js/omni.js"></script>
</head>

<body>
  <h3><div id="view">{{ view }}</div></h3>
  <button id="get_track_ids">Get Track Ids</button>
  time: <input type="text" id="track_sample_time"></input><br/>
  <button class="save_view">save</button><br/>
  <input type="text" id="track_search_input"></input>
  <button class="track_search">search</button>
  
  <div class="track_meta"></div>

  <div id="search_results">
  </div>

  <div class="data_main">
  </div>
      
</body>

</html>